{% extends "base.html" %}

{% block head_content %}
<title>Compare measures</title>
{% endblock %}

{% load static %}
{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pt-3 pb-3" id="profile-box">
            <h4 class="mb-4">Compare measurements</h4>

            <form method="GET">

                {# Date 1 field #}
                <div class="form-group">
                    <label>Date 1</label>
                    <input class="form-control {% if form.date_measure1.errors %}is-invalid{% endif %}" type="date"
                        name="date_measure1" placeholder="Date"
                        value="{{ form.date_measure1.value }}">
                    <div class="invalid-feedback">
                        {% for error in form.date_measure1.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                {# Date 2 field #}
                <div class="form-group">
                    <label>Date 2</label>
                    <input class="form-control {% if form.date_measure2.errors %}is-invalid{% endif %}" type="date"
                        name="date_measure2" placeholder="Date"
                        value="{{ form.date_measure2.value }}">
                    <div class="invalid-feedback">
                        {% for error in form.date_measure2.errors %}{{ error }}{% endfor %}
                    </div>
                </div>


                <button type="submit" class="btn btn-bmc btn-block mt-5">Compare</button>
            </form>
        </div>
        
        {% if entrymeasure_resume %}
        <div class="row justify-content-md-center">
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_scale.svg" %}" alt="Scale image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Bodyweight</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.bodyweight.value|floatformat:1}}</span> {{entrymeasure_resume.bodyweight.unit}}</p>
                        {% if entrymeasure_resume.bodyweight_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                        {% elif entrymeasure_resume.bodyweight_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_chest.svg" %}" alt="Chest image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Chest</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.chest.value|floatformat:1}}</span> {{entrymeasure_resume.chest.unit}}</p>
                        {% if entrymeasure_resume.chest_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                        {% elif entrymeasure_resume.chest_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_waist.svg" %}" alt="Waist image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Waist</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.waist.value|floatformat:1}}</span> {{entrymeasure_resume.waist.unit}}</p>
                        {% if entrymeasure_resume.waist_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                        {% elif entrymeasure_resume.waist_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_hip.svg" %}" alt="Hip image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Hip</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.hip.value|floatformat:1}}</span> {{entrymeasure_resume.hip.unit}}</p>
                        {% if entrymeasure_resume.hip_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                        {% elif entrymeasure_resume.hip_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_leg.svg" %}" alt="Leg image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Leg</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.leg.value|floatformat:1}}</span> {{entrymeasure_resume.leg.unit}}</p>
                        {% if entrymeasure_resume.leg_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                        {% elif entrymeasure_resume.leg_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure pb-3">
                <div class="row mt-2 mr-2 ml-2">
                    <div class="col-5 text-center my-auto">
                        <img src="{% static "img/ic_bicep.svg" %}" alt="Bicep image">
                    </div>
                    <div class="col-7 my-auto">
                        <p>Bicep</p>
                        <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.bicep.value|floatformat:1}}</span> {{entrymeasure_resume.bicep.unit}}</p>
                        {% if entrymeasure_resume.bicep_diff.value > 0 %}
                            <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                        {% elif entrymeasure_resume.bicep_diff.value < 0 %}
                            <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                        {% else %}
                            <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center mt-4">
            <div class="col-4">
                {% if entrymeasure1.front_image_url.url != None %}
                    <img src="{{ entrymeasure1.front_image_url.url }}" class="card-img" alt="Front image">
                {% endif %}
            </div>
            <div class="col-4">
                {% if entrymeasure2.front_image_url.url != None %}
                    <img src="{{ entrymeasure2.front_image_url.url }}" class="card-img" alt="Front image">
                {% endif %}
            </div>
            
            
        </div>

        <div class="row justify-content-md-center mt-4">
            <div class="col-4">
                {% if entrymeasure1.side_image_url.url != None %}
                    <img src="{{ entrymeasure1.side_image_url.url }}" class="card-img" alt="Side image">
                {% endif %}
            </div>
            <div class="col-4">
                {% if entrymeasure2.side_image_url.url != None %}
                    <img src="{{ entrymeasure2.side_image_url.url }}" class="card-img" alt="Side image">
                {% endif %}
            </div>
            
        </div>
        <div class="row justify-content-md-center mt-4">
            <div class="col-4">
                {% if entrymeasure1.back_image_url.url != None %}
                    <img src="{{ entrymeasure1.back_image_url.url }}" class="card-img" alt="Back image">
                {% endif %}
            </div>
            <div class="col-4">
                {% if entrymeasure2.back_image_url.url != None %}
                    <img src="{{ entrymeasure2.back_image_url.url }}" class="card-img" alt="Back image">
                {% endif %}
            </div>
        </div>


        {% endif %}

    </div>
</div>

{% endblock %}