{% load static %}

<div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-12 col-md-10">
        <div class="card p-2">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex align-items-center">
                    <div class="row">
                        <div class="col-4">
                            {% if entrymeasure.front_image_url.url != None %}
                                <img src="{{ entrymeasure.front_image_url.url }}" class="card-img" alt="Front image">
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if entrymeasure.side_image_url.url != None %}
                                <img src="{{ entrymeasure.side_image_url.url }}" class="card-img" alt="Back image">
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if entrymeasure.back_image_url.url != None %}
                                <img src="{{ entrymeasure.back_image_url.url }}" class="card-img" alt="Side image">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="card-body">
                        <h5 class="card-title mt-1 d-inline-block">{{entrymeasure.date_measure}}</h5>
                        <a class="float-right" href="{% url 'entrymeasures:edit' entrymeasure.pk %}"><img
                                src="{% static "img/edit-icon.svg" %}" alt="Edit"></a>
                        <div class="row">
                            <p class="card-text col-12 col-sm-12 col-md-6">
                                Bodyweight <span class="font-weight-bold">{{entrymeasure.bodyweight.value|floatformat:1}}</span> {{entrymeasure.bodyweight.unit}}
                                {% if entrymeasure.bodyweight_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.bodyweight_diff.value|floatformat:1}} {{entrymeasure.bodyweight.unit}}</span>
                                {% elif entrymeasure.bodyweight_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.bodyweight_diff.value|floatformat:1}} {{entrymeasure.bodyweight.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.bodyweight_diff.value|floatformat:1}} {{entrymeasure.bodyweight.unit}}</span>
                                {% endif %}                                
                            </p>
                            <p class="card-text col-12 col-sm-12 col-md-6">
                                Chest <span class="font-weight-bold">{{entrymeasure.chest.value|floatformat:1}}</span> {{entrymeasure.chest.unit}} 
                                {% if entrymeasure.chest_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.chest_diff.value|floatformat:1}} {{entrymeasure.chest.unit}}</span>
                                {% elif entrymeasure.chest_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.chest_diff.value|floatformat:1}} {{entrymeasure.chest.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.chest_diff.value|floatformat:1}} {{entrymeasure.chest.unit}}</span>
                                {% endif %} 
                            </p>
                            <p class="card-text col-12 col-sm-12 col-md-6">
                                Waist <span class="font-weight-bold">{{entrymeasure.waist.value|floatformat:1}}</span> {{entrymeasure.waist.unit}} 
                                {% if entrymeasure.waist_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.waist_diff.value|floatformat:1}} {{entrymeasure.waist.unit}}</span>
                                {% elif entrymeasure.waist_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.waist_diff.value|floatformat:1}} {{entrymeasure.waist.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.waist_diff.value|floatformat:1}} {{entrymeasure.waist.unit}}</span>
                                {% endif %} 
                            </p>
                            <p class="card-text col-12 col-sm-12 col-md-6">
                                Hip <span class="font-weight-bold">{{entrymeasure.hip.value|floatformat:1}}</span> {{entrymeasure.hip.unit}} 
                                {% if entrymeasure.hip_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.hip_diff.value|floatformat:1}} {{entrymeasure.hip.unit}}</span>
                                {% elif entrymeasure.hip_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.hip_diff.value|floatformat:1}} {{entrymeasure.hip.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.hip_diff.value|floatformat:1}} {{entrymeasure.hip.unit}}</span>
                                {% endif %} 
                            </p>
                            <p class="card-text col-12 col-sm-12 col-md-6">
                                Leg <span class="font-weight-bold">{{entrymeasure.leg.value|floatformat:1}}</span> {{entrymeasure.leg.unit}} 
                                {% if entrymeasure.leg_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.leg_diff.value|floatformat:1}} {{entrymeasure.leg.unit}}</span>
                                {% elif entrymeasure.leg_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.leg_diff.value|floatformat:1}} {{entrymeasure.leg.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.leg_diff.value|floatformat:1}} {{entrymeasure.leg.unit}}</span>
                                {% endif %} 
                            </p>
                            <p class="card-text col-12 col-sm-12 col-md-6 mb-2">
                                Bicep <span class="font-weight-bold">{{entrymeasure.bicep.value|floatformat:1}}</span> {{entrymeasure.bicep.unit}} 
                                {% if entrymeasure.bicep_diff.value > 0 %}
                                    <img src="{% static "img/ic_arrow_up.svg" %}" alt="UP"><span class="badge badge-pill badge-warning">{{entrymeasure.bicep_diff.value|floatformat:1}} {{entrymeasure.bicep.unit}}</span>
                                {% elif entrymeasure.bicep_diff.value < 0 %}
                                    <img src="{% static "img/ic_arrow_down.svg" %}" alt="UP"><span class="badge badge-pill badge-success">{{entrymeasure.bicep_diff.value|floatformat:1}} {{entrymeasure.bicep.unit}}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-info">{{entrymeasure.bicep_diff.value|floatformat:1}} {{entrymeasure.bicep.unit}}</span>
                                {% endif %} 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal{{entrymeasure.pk}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit {{entrymeasure.date_measure}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    {% if entrymeasure.front_image_url.url != None %}
                        <img src="{{ entrymeasure.front_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block" alt="Front image">
                        <a href=""><img src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete front image"></a>
                    {% endif %}
                    <div class="form-group">
                        <label for="frontImage">Front Image photo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="frontImage">
                            <label class="custom-file-label" for="frontImage">Choose file</label>
                        </div>
                    </div>
                    {% if entrymeasure.back_image_url.url != None %}
                        <img src="{{ entrymeasure.back_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block" alt="Side image">
                        <a href=""><img src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete front image"></a>
                    {% endif %}
                    <div class="form-group">
                        <label for="backImage">Back Image photo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="backImage">
                            <label class="custom-file-label" for="backImage">Choose file</label>
                        </div>
                    </div>
                    {% if entrymeasure.side_image_url.url != None %}
                        <img src="{{ entrymeasure.side_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block" alt="Back image">
                        <a href=""><img src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete front image"></a>
                    {% endif %}
                    <div class="form-group">
                        <label for="sideImage">Side Image photo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sideImage">
                            <label class="custom-file-label" for="sideImage">Choose file</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bodyweightInput">Bodyweight</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="bodyweightInput" placeholder="Bodyweight"
                                value="{{entrymeasure.bodyweight.value}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        kg
                                    {% else %}
                                        lb
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="chestInput">Chest</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="chestInput" placeholder="Chest" value="{{entrymeasure.chest.value|floatformat:1}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        cm
                                    {% else %}
                                        inch
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="waistInput">Waist</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="waistInput" placeholder="Waist" value="{{entrymeasure.waist.value|floatformat:1}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        cm
                                    {% else %}
                                        inch
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hipInput">Hip</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="hipInput" placeholder="Hip" value="{{entrymeasure.hip.value|floatformat:1}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        cm
                                    {% else %}
                                        inch
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="legInput">Leg</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="legInput" placeholder="Leg" value="{{entrymeasure.leg.value|floatformat:1}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        cm
                                    {% else %}
                                        inch
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bicepInput">Bicep</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="bicepInput" placeholder="Bicep" value="{{entrymeasure.bicep.value|floatformat:1}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {% if request.user.profile.measurement_system == "METRIC" %}
                                        cm
                                    {% else %}
                                        inch
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>