{% extends "base.html" %}

{% block head_content %}
    <title>BodyMeasureControl</title>
{% endblock%}

{% load static %}


{% block main %}

    {% if entrymeasure_resume %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">{{ entrymeasure_resume.date_measure|date:"d/m/Y" }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h6 class="text-center">IMC: {{entrymeasure_resume.imc}}</h6>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_scale.svg" %}" alt="Scale image">
                </div>
                <div class="col-7 my-auto">
                    <p>Bodyweight</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.bodyweight.value|floatformat:1}}</span> {{entrymeasure_resume.bodyweight.unit}}</p>
                    {% if entrymeasure_resume.bodyweight_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                    {% elif entrymeasure_resume.bodyweight_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.bodyweight_diff.value|floatformat:1}} {{entrymeasure_resume.bodyweight.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="bwChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_chest.svg" %}" alt="Chest image">
                </div>
                <div class="col-7 my-auto">
                    <p>Chest</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.chest.value|floatformat:1}}</span> {{entrymeasure_resume.chest.unit}}</p>
                    {% if entrymeasure_resume.chest_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                    {% elif entrymeasure_resume.chest_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.chest_diff.value|floatformat:1}} {{entrymeasure_resume.chest.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="chestChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_waist.svg" %}" alt="Waist image">
                </div>
                <div class="col-7 my-auto">
                    <p>Waist</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.waist.value|floatformat:1}}</span> {{entrymeasure_resume.waist.unit}}</p>
                    {% if entrymeasure_resume.waist_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                    {% elif entrymeasure_resume.waist_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.waist_diff.value|floatformat:1}} {{entrymeasure_resume.waist.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="waistChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_hip.svg" %}" alt="Hip image">
                </div>
                <div class="col-7 my-auto">
                    <p>Hip</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.hip.value|floatformat:1}}</span> {{entrymeasure_resume.hip.unit}}</p>
                    {% if entrymeasure_resume.hip_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                    {% elif entrymeasure_resume.hip_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.hip_diff.value|floatformat:1}} {{entrymeasure_resume.hip.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="hipChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_leg.svg" %}" alt="Leg image">
                </div>
                <div class="col-7 my-auto">
                    <p>Leg</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.leg.value|floatformat:1}}</span> {{entrymeasure_resume.leg.unit}}</p>
                    {% if entrymeasure_resume.leg_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                    {% elif entrymeasure_resume.leg_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.leg_diff.value|floatformat:1}} {{entrymeasure_resume.leg.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="legChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 m-3 col-lg-3 measure ">
            <div class="row mt-2 mr-2 ml-2">
                <div class="col-5 text-center my-auto">
                    <img src="{% static "img/ic_bicep.svg" %}" alt="Bicep image">
                </div>
                <div class="col-7 my-auto">
                    <p>Bicep</p>
                    <p><span class="font-weight-bold display-bmc">{{entrymeasure_resume.bicep.value|floatformat:1}}</span> {{entrymeasure_resume.bicep.unit}}</p>
                    {% if entrymeasure_resume.bicep_diff.value > 0 %}
                        <p><img src="{% static "img/ic_arrow_up.svg" %}" alt="Up"><span class="badge badge-pill badge-warning">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                    {% elif entrymeasure_resume.bicep_diff.value < 0 %}
                        <p><img src="{% static "img/ic_arrow_down.svg" %}" alt="Down"><span class="badge badge-pill badge-success">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                    {% else %}
                        <p><span class="badge badge-pill badge-info">{{entrymeasure_resume.bicep_diff.value|floatformat:1}} {{entrymeasure_resume.bicep.unit}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="bicepChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block section %}

    <div class="row">
        <form class="form-inline col-12 text-center form-inline__center" action="{% url 'entrymeasures:list' %}" method="GET">
                <input class="form-control mr-sm-2 {% if search %}is-invalid{% endif %}" type="date" placeholder="Search" aria-label="Search" name="date_measure">    
                <span class="invalid-feedback">
                    {% if search %}
                        {{search}}
                    {% endif %}
                </span>
                <button class="btn btn-bmc " type="submit">Search</button>
        </form>
    </div>

{% if entrymeasures %}
    {% for entrymeasure in entrymeasures %}
        {% include "entrymeasures/entry_measure.html" %}
    {% endfor %}
{% else %}
    <p class="my-4 mx-4">There isn't any measure added yet. You can add the first one <a href="{% url 'entrymeasures:create' %}">here</a></p>
{% endif %}

{% include "pagination.html" %}

<script>
    var bdData = []
    {% for bodyweight in bodyweight_arr %} 
        bdData.push({{ bodyweight }}); 
    {% endfor %}

    var onePoint = false;
    {% if bodyweight_arr|length == 1 %}
        onePoint = true
    {% endif %}
    
    var elements = {}
    {% if bodyweight_arr|length > 1 %}
        elements = {
            point: {
                radius: 0
            }
        }
    {% endif %}

    var chestData = []
    {% for chest in chest_arr %} 
        chestData.push({{ chest }}); 
    {% endfor %}

    var waistData = []
    {% for waist in waist_arr %} 
        waistData.push({{ waist }}); 
    {% endfor %}

    var hipData = []
    {% for hip in hip_arr %} 
        hipData.push({{ hip }}); 
    {% endfor %}

    var legData = []
    {% for leg in leg_arr %} 
    legData.push({{ leg }}); 
    {% endfor %}

    var bicepData = []
    {% for bicep in bicep_arr %} 
    bicepData.push({{ bicep }}); 
    {% endfor %}

</script>
<script src="{% static 'js/Utils.js' %}"></script>

{% endblock %}