{% extends "base.html" %}

{% block head_content %}
<title>Edit measurement</title>
{% endblock %}

{% block main %}

{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pt-3 pb-3" id="profile-box">
            <h4 class="mb-4">{{entrymeasure.date_measure}}</h4>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="user" value="{{ user.pk}}" />
                <input type="hidden" name="profile" value="{{ profile.pk }}" />

                {# Front image field #}
                {% if entrymeasure.front_image_url.url != None %}
                <input type="checkbox" name="clear_front_image" id="clear-front-image" style="display: none;">
                <img src="{{ entrymeasure.front_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block"
                    alt="Front image" id="front-image">
                <a href="javascript:delete_front_image();" id="undo-delete-front-image" style="display: none;"><img
                        src="{% static 'img/undo-24px.svg' %}" class="float-right" alt="Undo delete front image"></a>
                <a href="javascript:delete_front_image();" id="delete-front-image"><img
                        src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete front image"></a>
                {% endif %}
                <div class="form-group">
                    <label for="frontImage">Front Image photo</label>
                    <div class="custom-file">
                        <input type="file"
                            class="custom-file-input {% if form.front_image_url.errors %}is-invalid{% endif %}"
                            id="frontImage" name="front_image_url">
                        <label class="custom-file-label" for="frontImage">Choose file</label>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.front_image_url.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                {# Side image field #}
                {% if entrymeasure.side_image_url.url != None %}
                <input type="checkbox" name="clear_side_image" id="clear-side-image" style="display: none;">
                <img src="{{ entrymeasure.side_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block"
                    alt="Side image" id="side-image">
                <a href="javascript:delete_side_image();" id="undo-delete-side-image" style="display: none;"><img
                        src="{% static 'img/undo-24px.svg' %}" class="float-right" alt="Undo delete side image"></a>
                <a href="javascript:delete_side_image();" id="delete-side-image"><img
                        src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete side image"></a>
                {% endif %}
                <div class="form-group">
                    <label for="sideImage">Side Image photo</label>
                    <div class="custom-file">
                        <input type="file"
                            class="custom-file-input {% if form.side_image_url.errors %}is-invalid{% endif %}"
                            id="sideImage" name="side_image_url">
                        <label class="custom-file-label" for="sideImage">Choose file</label>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.side_image_url.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                {# Back image field #}
                {% if entrymeasure.back_image_url.url != None %}
                <input type="checkbox" name="clear_back_image" id="clear-back-image" style="display: none;">
                <img src="{{ entrymeasure.back_image_url.url }}" class="img-thumbnail w-50 mx-auto d-block"
                    alt="Back image" id="back-image">
                <a href="javascript:delete_back_image();" id="undo-delete-back-image" style="display: none;"><img
                        src="{% static 'img/undo-24px.svg' %}" class="float-right" alt="Undo delete back image"></a>
                <a href="javascript:delete_back_image();" id="delete-back-image"><img
                        src="{% static 'img/delete-24px.svg' %}" class="float-right" alt="Delete back image"></a>
                {% endif %}
                <div class="form-group">
                    <label for="backImage">Back Image photo</label>
                    <div class="custom-file">
                        <input type="file"
                            class="custom-file-input {% if form.back_image_url.errors %}is-invalid{% endif %}"
                            id="backImage" name="back_image_url">
                        <label class="custom-file-label" for="backImage">Choose file</label>
                    </div>
                    <div class="invalid-feedback">
                        {% for error in form.back_image_url.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                {# Chest field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.chest.errors %}is-invalid{% endif %}"
                            placeholder="Chest"
                            value="{% if form.errors %}{{ form.chest.value }}{% else %}{{entrymeasure.chest.value|floatformat:1}}{% endif %}"
                            name="chest">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                cm
                                {% else %}
                                inch
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.chest.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                {# Waist field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.waist.errors %}is-invalid{% endif %}"
                            placeholder="Waist"
                            value="{% if form.errors %}{{ form.waist.value }}{% else %}{{entrymeasure.waist.value|floatformat:1}}{% endif %}"
                            name="waist">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                cm
                                {% else %}
                                inch
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.waist.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                {# Hip field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.hip.errors %}is-invalid{% endif %}"
                            placeholder="Hip"
                            value="{% if form.errors %}{{ form.hip.value }}{% else %}{{entrymeasure.hip.value|floatformat:1}}{% endif %}"
                            name="hip">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                cm
                                {% else %}
                                inch
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.hip.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                {# Leg field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.leg.errors %}is-invalid{% endif %}"
                            placeholder="Leg"
                            value="{% if form.errors %}{{ form.leg.value }}{% else %}{{entrymeasure.leg.value|floatformat:1}}{% endif %}"
                            name="leg">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                cm
                                {% else %}
                                inch
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.leg.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                {# Bicep field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.bicep.errors %}is-invalid{% endif %}"
                            placeholder="Bicep"
                            value="{% if form.errors %}{{ form.bicep.value }}{% else %}{{entrymeasure.bicep.value|floatformat:1}}{% endif %}"
                            name="bicep">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                cm
                                {% else %}
                                inch
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.bicep.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                {# Bodyweight field #}
                <div class="form-group">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control {% if form.bodyweight.errors %}is-invalid{% endif %}"
                            placeholder="Bodyweight"
                            value="{% if form.errors %}{{ form.bodyweight.value }}{% else %}{{entrymeasure.bodyweight.value|floatformat:1}}{% endif %}"
                            name="bodyweight">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {% if profile.measurement_system == "METRIC" %}
                                kg
                                {% else %}
                                lb
                                {% endif %}
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.bodyweight.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-bmc btn-block mt-5" name="save">Save changes</button>
                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the measure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}