.bg-dark {
    background-color: #0d47a1!important;
}

.profile {
    width: 3em;
}

.navbar-brand img {
    width: 10em;
}

#header a {
    color: rgb(223, 221, 221);
}

#header a:hover {
    color: white;
}

#main p {
    margin: 0;
}

.measure {
    border-radius: 1em;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.measure img {
    width: 2em;
}

.display-bmc {
    font-size: 1.5em;
}

.form-inline__center {
    display:block;
}

.card-body {
    padding: 0;
}

.btn-bmc {
    background-color: #0d47a1;
    color: white;
}

.btn-bmc:hover {
    background-color: #002171;
    color: white;
}

#footer {
    background-color: #0d47a1;
    margin-top: 2em;
  }