{% extends "users/base.html" %}

{% block head_content %}
<title>BodyMeasureControl sign in</title>
{% endblock%}

{% load static %}

{% block container %}

{% if form.errors %}
<p class="alert alert-danger ml-2 mr-2">
    Your username and password didn't match. Please try again.
</p>
{% endif%}

<!-- Login Form -->
<form method="POST" action="{% url "users:login" %}">
    {% csrf_token %}

    <input type="text" class="fadeIn second" name="username" placeholder="Username">
    <input type="password" class="fadeIn third" name="password" placeholder="Password">
    <input type="submit" class="fadeIn fourth" value="Sign In">
</form>

<!-- Remind Passowrd -->
<div id="formFooter">
    Don't have an account yet? <a class="underlineHover" href="{% url "users:signup" %}">Sign up here.</a>
</div>

{% endblock %}